CATALOG {
  background-color: #ffffff;
  width: 100%;
}

player {
  display: block;
  margin: 50pt;
  margin-bottom: 20pt;
  border: 2px solid;
}

ID {
  display: block;
  color: #ff0404;
  font-size: 20pt;
  margin-left: 5pt;
}

NameF {
  margin-left: 5pt;
  font-size: 20pt;
  color: #0b8a27;
}

NameF::before {
  font-weight: bold;
  color: #000000;
  content: "Name #: ";
}

NameL {
  color: #0b8a27;
  font-size: 20pt;
}

Team,
Country {
  margin-left: 5pt;
  color: #0b8a27;
  font-size: 20pt;
  display: block;
}

ID::before {
  font-weight: bold;
  color: #000000;
  content: "ID #: ";
}

Team::before {
  font-weight: bold;
  color: #000000;
  content: "Team: ";
}

Country::before {
  font-weight: bold;
  color: #000000;
  content: "Country: ";
}

Weight::before {
  font-weight: bold;
  color: #000000;
  content: "Weight: ";
}

Height::before {
  font-weight: bold;
  color: #000000;
  content: "Height: ";
}

DOB::before {
  font-weight: bold;
  color: #000000;
  content: "Date of Birth: ";
}

Hometown::before {
  font-weight: bold;
  color: #000000;
  content: "Hometown: ";
}

Prov::before {
  font-weight: bold;
  color: #000000;
  content: "Prov: ";
}

Pos::before {
  font-weight: bold;
  color: #000000;
  content: "Pos: ";
}

Age::before {
  font-weight: bold;
  color: #000000;
  content: "Age: ";
}

HeightFt::before {
  font-weight: bold;
  color: #000000;
  content: "HeightFt: ";
}

Htln::before {
  font-weight: bold;
  color: #000000;
  content: "Htln: ";
}

BMI::before {
  font-weight: bold;
  color: #000000;
  content: "BMI: ";
}

Weight,
Height,
DOB,
Hometown,
Prov,
Pos,
Age,
HeightFt,
Htln,
BMI {
  display: block;
  color: #0b8a27;
  margin-left: 5pt;
  font-size: 20pt;
}
